#wrapper, body {
  overflow: hidden;
}

#projectList a,
#projectList span {
  margin-right: 5px;
  margin-left: 5px;
}

#projectList a {
  border-right: 1px solid black;
  padding-right: 5px;
  margin-right: 0px;
}

#projectList a.selected {
  /*border-radius: 10px;*/
  color: green;
  text-shadow: 1px 1px 0 gray;
  /*color: white;*/
}

#projectList a.last {
  border-right: none;
}

.untoggled .chart-container {
  padding-right: 40px;
}
.untoggled #chart {
  width: 100%;
  box-sizing: border-box;
}



#sidebar {
/*  width: 40px;*/
  /*position: absolute;*/
  /*right: 0;
  top: 0;
  z-index: 5;


  float: right;
  box-sizing: border-box;*/
  list-style-type: none;
}

.untoggled #sidebar {
  white-space: nowrap;
  width: 40px;
  position:absolute;
  float:right;
  padding: 0;
  right:0;
  top:0;
}
.untoggled #sidebar .project .title,
.untoggled #sidebar .project .close {
  display: none;
}

.toggled .project .tooltip {
  display: none;
}
.untoggled .project .colorpicker  {
  transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
}




#sidebar .close {
/*  position: absolute;
  right: 10px;*/
}

#sidebar .color-indicator {
  margin-left: -3px;
  margin-right: 9px;
  cursor: pointer;
  width: 17px;
  height: 18px;
  display: inline-block;
}
.slide-trigger button {
  width: 100%;
}
#search {
  position: absolute;
  width: 300px;
  top: 25px;
  left: 30px;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.highcharts-input-group {
  right: 10px;
}

/* https://github.com/ashleydw/typeahead.js-bootstrap.css */
/* ignore this line */
.container { margin:30px; }

.twitter-typeahead {
    width: 100%;
    position: relative;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width:100%;
    height: 34px;
    position: absolute;
    top:0;
    left:0;
}
.twitter-typeahead .tt-hint {
    color:#a1a1a1;
    z-index: 1;
    padding: 6px 12px;
    border:1px solid transparent;
}
.twitter-typeahead .tt-query {
    z-index: 2;
    border-radius: 4px!important;
    /* add these 2 statements if you have an appended input group */
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    /* add these 2 statements if you have an prepended input group */
   /*  border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important; */
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
